# Clases compiladas

libranzas/*.class
libranzasPruebasManuales/.*class
libranzas_autogestion/*.class

# Logs
libranzas/logs/
libranzas_autogestion/logs/
libranzasPruebasManuales/logs/

libranzas/*.logs
libranzas_autogestion/*.logs
libranzasPruebasManuales/*.logs

libranzas/log/
libranzas_autogestion/log/
libranzasPruebasManuales/log/

libranzas/*.log
libranzas_autogestion/*.log
libranzasPruebasManuales/*.log

# Archivos comprimidos

libranzas/*.war
libranzas/*.nar
libranzas/*.ear
libranzas/*.zip
libranzas/*.tar.gz
libranzas/*.rar


libranzas_autogestion/*.war
libranzas_autogestion/*.nar
libranzas_autogestion/*.ear
libranzas_autogestion/*.zip
libranzas_autogestion/*.tar.gz
libranzas_autogestion/*.rar

libranzasPruebasManuales/*.war
libranzasPruebasManuales/*.nar
libranzasPruebasManuales/*.ear
libranzasPruebasManuales/*.zip
libranzasPruebasManuales/*.tar.gz
libranzasPruebasManuales/*.rar

# Reportes serenity

libranzas/target/
libranzasPruebasManuales/

#Solo agregar carpeta serenity
Proyecto Libranza/
Documentos de pruebas/
libranzas_autogestion/*
!libranzas_autogestion/target/site/
libranzas_autogestion_Manual/


# Gradle

.gradle/
libranzas_autogestion/.gradle/
libranzas_autogestion/build/

libranzas/.gradle/
libranzas/build/

libranzasPruebasManuales/.gradle
libranzasPruebasManuales/build/

# No ignorar el Gradle Wrapper

libranzas/gradle\wrapper\gradle-wrapper.jar
pruebasManuales/gradle\wrapper\gradle-wrapper.jar
libranzas_autogestion/gradle\wrapper\gradle-wrapper.jar


# Archivos eclipse

libranzas/.classpath
libranzas_autogestion/.classpath
libranzasPruebasManuales/.classpath

libranzas/.project
libranzas_autogestion/.project
libranzasPruebasManuales/.project

libranzas/.metadata
libranzas_autogestion/.metadata
libranzasPruebasManuales/.metadata

libranzas/bin/
libranzas_autogestion/bin/
libranzasPruebasManuales/bin/

libranzas/tmp/
libranzas_autogestion/tmp/
libranzasPruebasManuales/tmp/

libranzas/*.tmp
libranzas_autogestion/*.tmp
libranzasPruebasManuales/*.tmp

libranzas/*.bak
libranzas_autogestion/*.bak
libranzasPruebasManuales/*.bak

libranzas/*.swp
libranzas_autogestion/*.swp
libranzasPruebasManuales/*.swp

libranzas/*~.nib
libranzas_autogestion/*~.nib
libranzasPruebasManuales/*~.nib

libranzas/local.properties
libranzas_autogestion/local.properties
libranzasPruebasManuales/local.properties

libranzas/.settings/
libranzas_autogestion/.settings/
libranzasPruebasManuales/.settings/

libranzas/.loadpath
libranzas_autogestion/.loadpath
libranzasPruebasManuales/.loadpath

libranzas/.recommenders
libranzas_autogestion/.recommenders
libranzasPruebasManuales/.recommenders

libranzas/.idea/
libranzas_autogestion/.idea/
libranzasPruebasManuales/.idea/

libranzas/out/
libranzas_autogestion/out/
libranzasPruebasManuales/out/


# Locally stored "Eclipse launch configurations"

libranzas/*.launch
libranzas_autogestion/*.launch
libranzasPruebasManuales/*.launch

### Sonar ###
#Sonar generated dir

libranzas/.sonar/
libranzasPruebasManuales/.sonar/
libranzas_autogestion/.sonar/


libranzas_autogestion/bin
libranzas/bin
libranzasPruebasManuales/bin

libranzas_autogestion/.gradle/
libranzas_autogestion/build/
libranzas_autogestion/logs/*.log

libranzasPruebasManuales/.gradle/
libranzasPruebasManuales/build/
libranzasPruebasManuales/logs/*.log

